<h1 mat-dialog-title>Vuoi aggiungere una categoria all'attivita?</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field>
            <mat-label>Seleziona una categoria:</mat-label>
            <mat-select formControlName="categoria">
                <ng-container *ngFor="let categoria of categorie">
                    <ng-container *ngIf="!isCategoriaPresente(categoria.id)">
                        <mat-option [value]="categoria.id">
                            {{categoria.nome}}
                        </mat-option>
                        <p>{{categoria.descrizione}}</p>
                    </ng-container>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </form>
    <ng-container *ngIf="categoriePresenti">
        <p>Categorie possedute dall'attività</p>
        <ul *ngFor="let categoria of listaCategoriePossedute">
            <li [style.color]="deletedCategoriaIds.includes(categoria.id) ? 'red' : 'black'">
                Nome: {{categoria.nome}}
                <button mat-icon-button aria-label="delete_forever"
                    *ngIf="categoria.id && !deletedCategoriaIds.includes(categoria.id)"
                    (click)="delete(categoria.id, idAttivita)" color="warn">
                    <mat-icon style="font-size: x-large;">delete_forever</mat-icon>
                </button><br>
                Descrizione: {{categoria.descrizione}}
            </li>
        </ul>
    </ng-container>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="aggiungiCategoria()" [disabled]="!formGroup.valid">Aggiungi Categoria</button>
    <button mat-button (click)="onNoClick()">Chiudi</button>
</div>