.corpo {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
}

.dati {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.elementi {
  height: 100%;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data {
  display: flex;
  flex-direction: column;
}

.example-card {
  background-color: transparent;
  box-shadow: none;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.example-card img {
  justify-content: center;
  align-self: center;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(235, 255, 225);
  border: 5px solid lightgreen;
  width: 95%;
  border-radius: 20px;
  box-shadow: 7px 7px 5px #dedede;
  padding: 10px;
  height: fit-content;
}

/* Elemento della lista */
mat-list-item {
  display: flex;
  width: 100%;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
}

.custom-card {
  background-color: white;
  border: 5px solid lightgreen;
  border-radius: 8px;
  padding: 16px;
  height: 60%;
  width: 85%;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 7px 7px 5px #dedede;
}

.custom-card p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-grid-tile {
  height: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header mat-icon {
  margin-right: 8px;
  color: #1a801a;
  font-size: 24px;
}

.custom-card strong {
  font-size: 18px;
}

.content {
  margin-top: 8px;
}

h3 {
  transition: all 0.3s ease-in-out;
}

h3:hover {
  filter: brightness(90%);
}

.info {
  font-size: large;
}