a {
    color: lime;
}

#tornaSuBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color: lime;
    color: white;
    cursor: pointer;
    border-radius: 20px;
  }
  
  #tornaSuBtn:hover {
    background-color: #555; 
  }