     .centrato {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       padding: 5%;
     }

     .card {
       box-shadow: none;
       border: none;
       width: 40%;
     }

     .header {
       width: 100%;
       display: flex;
       justify-content: center;
     }

     .titolo {
       text-align: center;
       color: lime;
     }

     .azioni {
       display: flex;
       flex-direction: column;
       align-items: center;
     }

     .link {
       text-align: center;
     }

     .btn {
       text-align: center;
     }

     .contenuto {
       text-align: center;
       border-top:2px solid lightgreen;
       border-bottom: 2px solid lightgreen;
     }

     .input {
       width: 45%;
       text-align: center;
       padding: 15px;
     }
     
     .btn button:disabled {
      background-color: #e0e0e0;
      color: #D3D3D3
     }

     .btn button {
       background-color: lime;
       color: white;
     }