<div class="contenitore">
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header class="card-section">
        <mat-card-title>Antispreco</mat-card-title>
        <img
          class="colum-content-img"
          src="/assets/chisiamo/logo1.png"
          alt=""
        />
        <mat-card-content>
          <p>
            Le strutture che trovate sul nostro sito si impegnano attivamente a
            ridurre gli sprechi adottando politiche antispreco. Ciò include
            l'uso responsabile delle risorse l'implementazione di pratiche 
            che mirano a minimizzare l'impatto ambientale.
          </p>
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="card">
    <mat-card class="example-card">
      <mat-card-header class="card-section">
        <mat-card-title>Prodotti Locali</mat-card-title>
        <img
          class="colum-content-img"
          src="/assets/chisiamo/logo2.png"
          alt=""
        />
        <mat-card-content>
          <p>
            Siamo orgogliosi di promuovere l'adozione di prodotti locali
            all'interno delle strutture presenti sulla nostra piattaforma.
            Preferiamo partner che privilegiano l'acquisto di ingredienti
            provenienti dalla comunità locale.
          </p>
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="card">
    <mat-card class="example-card">
      <mat-card-header class="card-section">
        <mat-card-title>Energia Verde</mat-card-title>
        <img
          class="colum-content-img"
          src="/assets/chisiamo/logo3.png"
          alt=""
        />
        <mat-card-content>
          <p>
            Le strutture partner sono fortemente impegnate nell'utilizzo di
            energia proveniente da fonti rinnovabili. Questo impegno
            contribuisce a ridurre l'uso di combustibili fossili e a promuovere
            un approccio sostenibile alla produzione di energia.
          </p>
        </mat-card-content>
      </mat-card-header></mat-card
    >
  </div>

  <div class="card">
    <mat-card class="example-card">
      <mat-card-header class="card-section">
        <mat-card-title>Raccolta Differenziata</mat-card-title>
        <img
          class="colum-content-img"
          src="/assets/chisiamo/logo4.png"
          alt=""
        />
        <mat-card-content>
          <p>
            Abbiamo fatto della raccolta differenziata una priorità nelle
            strutture presenti sulla nostra piattaforma. I nostri partner
            implementano sistemi di raccolta differenziata dei rifiuti.
          </p>
        </mat-card-content>
      </mat-card-header></mat-card
    >
  </div>

  <div class="card">
    <mat-card class="example-card">
      <mat-card-header class="card-section">
        <mat-card-title>Ridotte Emissioni Co2</mat-card-title>
        <img
          class="colum-content-img"
          src="/assets/chisiamo/logo5.png"
          alt=""
        />
        <mat-card-content>
          <p>
            La nostra piattaforma si impegna a lavorare con strutture che
            adottano politiche mirate a limitare le emissioni di CO2.
          </p>
        </mat-card-content></mat-card-header
      ></mat-card
    >
  </div>

  <div class="card">
    <mat-card class="example-card">
      <mat-card-header class="card-section">
        <mat-card-title>Contatto con la Natura</mat-card-title>
        <img
          class="colum-content-img"
          src="/assets/chisiamo/logo6.png"
          alt=""
        />
        <mat-card-content>
          <p>
            Valorizziamo le strutture che offrono un'esperienza autentica e un
            contatto diretto con la natura circostante. Promuoviamo luoghi che
            incoraggiano gli ospiti a connettersi con l'ambiente, apprezzando la
            bellezza della natura e partecipando a attività che promuovono la
            conservazione.
          </p>
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </div>
</div>
