
<div mat-dialog-content class="mat-card">
  <h1>Prenotazione Attività Turistica</h1>
  <p>ID: {{ data.prenotazione.id }}</p>
  <p>Bambini: {{ data.prenotazione.numBambini }}</p>
  <p>Adulti: {{ data.prenotazione.numAdulti }}</p>
  <p>Prezzo: {{ data.prenotazione.prezzo }} </p>
  <h2>Dati dell'Attivita:</h2>
  <p>Nome Attività: {{ data.prenotazione.attivitaTuristica?.nome }} </p>
  <p>Indirizzo Attività: {{ data.prenotazione.attivitaTuristica?.indirizzo }} </p>
  <p>Descrizione attività: {{data.prenotazione.attivitaTuristica?.descrizioneBreve}}</p>
</div>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Chiudi</button>
</mat-dialog-actions>
