.chisiamo{
margin-left: 20%;
margin-right: 20%;


}

.sfondo{
  padding: 4%;
  text-align: center;
  background: linear-gradient(to right, #aaf0a0, #60c060);
  color: white;
    }

.politiche-eco{
  margin-top: 5%;
    font-size: 300%;
    padding: 2%;
    text-align: center;
    background: linear-gradient(to right, #aaf0a0, #60c060);
    color: white;
}   

.immagine{
    width: 100%;
    height: auto;
    padding: 5%;
    background: transparent;
}
.contenitore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.card {
    width: 40%;
    background: transparent; /* o qualsiasi larghezza desiderata */
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border: none; /* o qualsiasi margine desiderato */
  }
  
@media (max-width: 768px) {
    .card {
      flex-basis: 100%; /* Imposta la larghezza delle card al 100% quando la larghezza dello schermo è inferiore a 768px */
    }
  }