<mat-divider></mat-divider>
<button mat-mini-fab aria-label="Example icon button with a home icon"
    style="position: absolute; right: 35px; cursor: pointer; z-index: 2; top: 15px; background-color: #00FF00;" routerLink="" class="title">
    <mat-icon style="color: white;">home</mat-icon>
</button>
<div class="sfondo">
<strong class="chisiamo" style="font-size:400%;">Chi Siamo</strong>
</div>
<mat-divider></mat-divider>


<div class="contenitore">
    
  <div class="card">
    <mat-card class="immagine" style="box-shadow: none;">
      <img
        mat-card-image
        src="assets/chisiamo/travel.png"
        alt="immagine-attivita"
        class="immagine"
      />
    </mat-card>
  </div>


  <div class="card">
    <app-introduzione></app-introduzione>
  </div>
</div>
<h1 class="politiche-eco">Politiche Eco-Sostenibili</h1>
<app-politiche-eco ></app-politiche-eco>
<h1 class="politiche-eco">I nostri obiettivi</h1>
<app-fine></app-fine>

