<h1 class="introduzione">GreenTrails</h1>
<div class="testo">
  <p style="font-size: large">
    Benvenuti su GreenTrails, luogo dove il rispetto per la natura
    si fonde con la passione per esperienze di viaggio
    straordinarie. Siamo entusiasti di condividere con voi la nostra storia e la
    visione che guida ogni passo della nostra piattaforma.
  </p>
  <p style="font-size: large">
    Il nostro obiettivo è un impegno verso la creazione di un impatto positivo sull'ambiente, 
    offrendo esperienze
    uniche che rispettano la bellezza della natura.
  </p>
  <p style="font-size: large">
    Ci impegniamo a selezionare attentamente le strutture disponibili sul nostro
    sito, garantendo che rispettino rigorosi standard di sostenibilità.
    Attraverso la promozione di pratiche ecologiche, vogliamo offrirvi non solo
    un luogo dove soggiornare, ma un luogo in cui potete immergervi in
    esperienze che abbracciano l'armonia tra l'uomo e l'ambiente.
  </p>
</div>
