<div>
  <div class="testo">
    <p style="font-size: large">
      Attraverso la promozione di queste pratiche e l'offerta di esperienze di
      viaggio ecologiche, intendiamo non solo soddisfare le vostre aspettative
      di comfort e bellezza, ma anche contribuire al benessere del nostro
      pianeta. Siamo certi che la vostra scelta di prenotare attraverso la
      nostra piattaforma rappresenterà un passo verso uno stile di vita
      più sostenibile.
    </p>
    <p style="font-size: large">
      Vi ringraziamo per la vostra attenzione e per essere parte di questa
      importante iniziativa. Insieme, possiamo creare un impatto positivo e
      costruire un futuro più verde e sostenibile per tutti.
    </p>

    <h1 style="font-style: italic;"> Buon viaggio e buon
      soggiorno!</h1>
  </div>
</div>
