.map-container {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: fit-content;
    margin-top: 40px;
}

#map {
    width: 85%;
    height: 300px;
    border-radius: 20px;
    border: 5px solid lightgreen;
    box-shadow: 7px 7px 5px #dedede;
}