<h1 mat-dialog-title>Aggiungi camere</h1>
<div [formGroup]="camere">
  <mat-form-field appearance="outline" style="margin: 2%; margin-bottom: 0%">
    <label>Categoria: </label>
    <input formControlName="categoria" matInput />
    <mat-error *ngIf="camere.get('categoria')?.hasError('required')">
      Campo obbligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 2%; margin-bottom: 0%">
    <label>Disponibilita: </label>
    <input formControlName="disponibilita" matInput />
    <mat-error *ngIf="camere.get('disponibilita')?.hasError('required')">
      Campo obbligatorio
    </mat-error>
    <mat-error *ngIf="camere.get('disponibilita')?.hasError('pattern')">
      Valori non validi
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 2%; margin-bottom: 0%">
    <label>Descrizione: </label>
    <input formControlName="descrizione" matInput />
    <mat-error *ngIf="camere.get('descrizione')?.hasError('required')">
      Campo obbligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 2%; margin-bottom: 0%">
    <label>Capienza: </label>
    <input formControlName="capienza" matInput />
    <mat-error *ngIf="camere.get('capienza')?.hasError('required')">
      Campo obbligatorio
    </mat-error>
    <mat-error *ngIf="camere.get('capienza')?.hasError('pattern')">
      Valori non validi
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 2%; margin-bottom: 0%">
    <label>Prezzo: </label>
    <input formControlName="prezzo" matInput />
    <mat-error *ngIf="camere.get('prezzo')?.hasError('required')">
      Campo obbligatorio
    </mat-error>
    <mat-error *ngIf="camere.get('prezzo')?.hasError('pattern')">
      Valori non validi
    </mat-error>
  </mat-form-field>

  <div *ngIf="camereInserite.length > 0">
    <h4>Camere Inserite:</h4>
    <ul>
      <li *ngFor="let camera of camereInserite">
        Categoria: {{ camera.categoria }}, Disponibilità:
        {{ camera.disponibilita }}, Descrizione: {{ camera.descrizione }},
        Capienza: {{ camera.capienza }}
      </li>
    </ul>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="aggiungiCamera()" [disabled]="camere.invalid">Aggiungi Camera </button>

  <button mat-button (click)="inviaCamere()" [disabled]="camereInserite.length === 0">Invia Camere</button>


</div>