
.input{
    max-width: 50%;
    max-height: 100%;
    font-size:medium;
    text-align: center ;

  
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px; 
  }
  
  
  .mat-label{
    font-size:large;
  }
  
  .selezione{
  
    max-width:50%;
    max-height: 100%;
    font-size: medium;

  }
  
  .testo{
    text-align: center;
  
  
  }
  .contenitore{

    width: 60%;
margin-right: 20%;
margin-left: 20%;




  }