<h1 mat-dialog-title>Prenotazione Attività</h1>

<mat-dialog-content>
  <mat-stepper linear #stepper>
    <!--PRIMA PARTE-->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Inserisci i dati</ng-template>
        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile>
            <mat-label class="mat-label">Arrivo:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <input class="input" matInput [matDatepicker]="picker1" required formControlName="arrivo1" />
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>

            <mat-datepicker #picker1></mat-datepicker>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label class="mat-label">Orario arrivo:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <input class="input" matInput type="time" />
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label class="mat-label">Partenza:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <input class="input" matInput [matDatepicker]="picker2" formControlName="partenza1" />
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-label class="mat-label">Orario partenza:</mat-label>
          </mat-grid-tile>
          <mat-grid-tile>
            <input class="input" matInput type="time" />
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-icon>person</mat-icon>
            <label class="mat-label">Adulti:</label>
          </mat-grid-tile>

          <mat-grid-tile>
            <input formControlName="numAdulti1" required class="input" type="number" name="numAdulti1" [value]="1"
              min="1" />
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-icon>child_care</mat-icon>
            <label class="mat-label">Bambini:</label>
          </mat-grid-tile>

          <mat-grid-tile>
            <input formControlName="numBambini1" required class="input" type="number" name="numBambini" [value]="0"
              min="0" />
          </mat-grid-tile>
        </mat-grid-list>
        <div class="button-container">
          <button mat-button matStepperNext (click)="verificaDisponibilita()">
            Continua
          </button>
        </div>
      </form>
    </mat-step>

    <!--SECONDO PARTE-->
    <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Disponibilità</ng-template>
        <div *ngIf="isDisponibile">
          Disponibile nelle date selezionate
          <button mat-button matStepperPrevious>Torna in dietro</button>
          <button mat-button matStepperNext [disabled]="!isDisponibile">
            Continua
          </button>
        </div>
        <div *ngIf="!isDisponibile">
          Non disponibile, cambia date
          <button mat-button matStepperPrevious>Torna in dietro</button>
          <button mat-button matStepperNext [disabled]="!isDisponibile">
            Continua
          </button>
        </div>
      </form>
    </mat-step>

    <!--TERZA PARTE-->
    <mat-step>
      <div *ngIf="idItinerario; else noItinerarioFound">
        <p>
          Vuoi aggiungere all'itinerario: {{ idItinerario }} oppure crearne uno
          nuovo?
        </p>
        <div>
          <button mat-button (click)="aggiungiAllItinerario()" [disabled]="azioneEseguita || siClicked">
            Aggiungi all'itinerario
          </button>
          <button mat-button (click)="creaItinerario()" [disabled]="azioneEseguita || creaClicked">
            Crea un nuovo itinerario
          </button>
        </div>
      </div>

      <ng-template #noItinerarioFound>
        <p>Nessun Itinerario trovato</p>
        <button mat-button (click)="creaItinerario()" [disabled]="azioneEseguita || creaClicked">
          Crea un nuovo itinerario
        </button>
      </ng-template>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancella</button>
  <button mat-button type="submit" [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmit()"
    [disabled]="!azioneEseguita">
    Verifica Disponibilità
  </button>
</mat-dialog-actions>