/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e8f5e9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a5d6a7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #81c784;
}