<div class="toolbarContainer">
    <button mat-mini-fab aria-label="Example icon button with a home icon"
    style="position: absolute; left: 25px; cursor: pointer; top: 16px; background-color: #00FF00;" routerLink="" class="title">
    <mat-icon style="color: white;">home</mat-icon>
</button>
    <app-ricerca></app-ricerca>
    <div class="iconContainer">
        <a *ngIf="router.url !== '/areaRiservata'" routerLink="/areaRiservata" lass="iconLink" (click)="navigate()">
            <i class="fa-regular fa-user icon"></i>
        </a>
        <a routerLink="/tabellaPrenotazioni" class="iconLink" *ngIf="isVisitatore">
            <i class="fa-regular fa-paper-plane icon"></i>
        </a>
        <a routerLink="/mieAttivita" class="iconLink" *ngIf="isGestore">
            <i class="fa-regular fa-building"></i>
        </a>
        <a routerLink="/listaSegnalazioni" class="iconLink" *ngIf="isAdmin">
            <mat-icon>report_problem</mat-icon>
        </a>
    </div>
</div>